@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	&:focus {
		outline: none;
	}

	font-family: $default-font;
	letter-spacing: 0.5px;
}

*::-webkit-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}
*:-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*::-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

html,
body {
	height: 100%;
	font-family: 'Libre Baskerville', serif;
	background-color: #000218;
	color: #fff;
}
